/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    background-color: #f57c00; 
    color: white;
    width: 100%;
    height: 100px;
    font-size: 20px;
    line-height: 1.2;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #214f88; 
}

.subtitulo {
  font-size: 0.9rem;
}

/* Corpo */
main {
  text-align: center;
  padding: 30px 10px;
}

.descricao {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  background-color: #80808033;
  border-radius: 20px;
  width: 320px;
  padding: 30px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -10px; 
  margin-bottom: 25px; 
}

.conteudo {
  background-color: #f57c00;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 60px; 
  padding: 15px;
  font-size: 20px;
}

/* Botão */
button {
  background-color: #1976d2;
  border: none;
  color: white;
  padding: 12px 0;
  width: 100%; 
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 1rem;
}

button:hover {
  background-color: #0d47a1;
}

footer {
    background-color: #f57c00; 
    color: white;
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
}
