/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
  background-color: #f57c00;
  color: white;
  width: 100%;
  height: 100px;
  font-size: 20px;
  line-height: 1.2;
}

h1 {
  text-align: center;
  padding: 30px 10px;
}

main {
  text-align: center;
  padding: 30px 10px;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #214f88;
}

.subtitulo {
  font-size: 1rem;
}

/* Container principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 10px;
}

/* Coluna da esquerda */
.coluna-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Avatar */
.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

/* Blocos azuis */
.bloco-azul {
  background-color: #1976d2;
  border-radius: 20px;
}

.bloco-azul.grande {
  width: 300px;
  height: 150px;
  border-radius: 30px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 15px;
  line-height: 1.4;
  color: white;
}

.bloco-azul.pequeno {
  width: 300px;
  height: 70px;
  color: white;
  border-radius: 30px;
  border-color: white;
}

button:hover {
  background-color: #0d47a1;
}


/* Coluna da direita */
.coluna-direita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloco-laranja {
  background-color: #f57c00;
  width: 800px;
  height: 500px;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 21px;
  line-height: 1.4;
  color: white;
}

.bloco-laranja p {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #f57c00;
  color: white;
  width: 100%;
  height: 100px;
  align-items: center;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}
