/* ============================
   RESET GERAL
============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}



/* ============================
   VARIÁVEIS GLOBAIS
============================ */
:root {
  --azul-principal: #0d47a1;
  --laranja-destaque: #ff9800;
  --branco: #ffffff;
  --cinza-claro: #f5f5f5;
}


/* ============================
   HEADER / NAV
============================ */

/* Barra superior de redes sociais */
.nav-social {
  background: linear-gradient(90deg, #ff9800, #f57c00);
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 30px;
  padding: 10px 70px;
}

.nav-social a {
  margin: 0px 20px 0px 10px;
  text-decoration: none;
  color: white;
}

/* Contêiner separador */
.separar {
  display: flex;
  gap: 20px;
}

/* Links do menu */
.div-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px -30px 0;
}

.div-link a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 20px;
}

.div-link a:hover {
  color: orange;
}

/* Logo dentro do nav */
nav img {
  margin: 10px;
  width: 250px;
  height: auto;
}

/* ============================
   ÍCONES
============================ */
.bi {
  transition: transform 1.3s ease;
}

.bi:hover {
  color: #0056b3;
}